div.overview{
    overflow-y: scroll;
    height: 100px;
}

.header-class {
    background-color: darkgray;
    font-size: 25px;
}

.history {
    /* width: 800px; */
    /* margin:35px; */
    /* border: double; */
    height: 400px;
    display: block;
    overflow: scroll;
}

.head {
    font-size: 24px;
    /* margin: 20px; */
    font-weight: bold;
}

.input {
    margin: 20px;
}